# This is a basic workflow to help you get started with Actions

name: Publish

# Controls when the action will run. 
on:
  release:
    types:
    - created

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Install Node.js
    uses: actions/setup-node@v1
    with:
      node-version: 10.x
  - run: npm install
  - run: xvfb-run -a npm test
    if: runner.os == 'Linux'
  - run: npm test
    if: runner.os != 'Linux'
  - name: Publish
    if: success() && startsWith( github.ref, 'refs/tags/releases/') && matrix.os == 'ubuntu-latest'
    run: npm run deploy
    env:
      VSCE_PAT: ${{ secrets.VSCE_PAT }}

